<div class="vehicle-card" role="article">
    <div class="vehicle-card__image-container">
        <img class="vehicle-card__image vehicle-card__image--small" [src]="'./assets' + vehicle.media[1].url" [alt]="vehicle.name">
        <img class="vehicle-card__image vehicle-card__image--large" [src]="'./assets' + vehicle.media[0].url" [alt]="vehicle.name">
    </div>
    <div class="vehicle-card__content">
        <div class="vehicle-card__details">
            <h5 class="vehicle-card__name"><span class="vehicle-card__name--bordered">{{ vehicle.name }}</span></h5>
            <p class="vehicle-card__price" *ngIf="vehicle.details.price">From: {{ vehicle.details.price }}</p>
            <p class="vehicle-card__price" *ngIf="!vehicle.details.price">Enquire in-store</p>
            <p class="vehicle-card__description">{{ vehicle.details.description }}</p>
        </div>
        <div class="vehicle-card__button-container">
            <button class="vehicle-card__button" (click)="onShowDetails()">Read more</button>
        </div>
    </div>
</div>
